body {
    margin: 0;
}
#header{
	background-color:lightgray;
	height: 40px;
	margin: 0; 
	border-bottom-style: solid;
	border-width: 1px; 
	border-color:darkgrey;
}
svg {
	width: 700px;
	height: 600px;
	margin:0;
}
#check-box{
	width:30px;
	float:right;
}

/*.button{
	width:100px;
	height: 40px;
}*/
#pop-graph{
	position: absolute;
	left:810px;

}
#up-holder{
	min-width: 1600px;
	margin:0;
	height: 600px;
}
#text-block
{
	background-color:lightgray;
	height: 70px;
	margin: 0; 
}
#Map{
	width: 900px;
}